<app-page-title [pageTitle]="'About Me'"></app-page-title>
<div class="grid justify-content-center max-h-full overflow-hidden">
  <div class="field">
    <p-image src="assets/images/profile_pic_cropped.png" imageClass="shadow-8 h-25rem">
    </p-image>
  </div>
  <div class="w-2 pt-0 fadeInUp overflow-hidden container pl-6">
    <ng-container>
      <h2>I'm Nolan Hargreaves</h2>
    </ng-container>
    <ng-container>
      <p>A full stack engineer with 3 years of experience
        developing scalable enterprise-grade web
        applications. My technology stack includes Angular/Typescript for the frontend and Java Spring APIs for the
        backend.
        I am passionate about finding innovative solutions to complex problems and enjoy exploring new technologies. I
        believe in clean code and follow industry best practices to deliver high-quality software that meets business
        requirements.
      </p>
      <br>
      <p>
        As a software developer, I have had the privilege of contributing to the design and development of several Order
        Management Systems. My role involved understanding business requirements, designing the
        architecture, implementing core features, and providing ongoing maintenance and support. I also played a key
        role in updating and maintaining a Global Design System, which included the design of reusable components and the establishment
        of a consistent user experience across all applications within the organization. This effort involved
        collaborating with other teams to ensure that the design system was easily adaptable to different applications
        while maintaining consistency in the visual and user experience aspects. The result of these efforts was
        increased efficiency and user satisfaction.
      </p>
    </ng-container>
  </div>
</div>
