<div class="flex justify-content-between align-items-center">
  <label class="pl-3 signature text-xl font-semi-bold">Nolan Hargreaves</label>
  <nav role="navigation" aria-roledescription="navigation-bar" class="pr-8">
    <button pButton type="button" label="About Me" class=" p-button-text p-button-secondary"></button>
    <button pButton type="button" label="Skills" class=" p-button-text p-button-secondary"></button>
    <button pButton type="button" label="Contact" class=" p-button-text p-button-secondary"></button>
    <button pButton type="button" icon="pi pi-linkedin" label="LinkedIn"
            class=" p-button-text p-button-secondary"></button>
  </nav>
</div>
<hr>




